.container{
    height: 18em;
    margin: 1em;
    text-align: center;
    font-weight: bold;
    z-index: 0;
    width: min-content;
}
.container:hover{
    text-decoration: underline;
    cursor: pointer;
}
img{
    height: 14em;
    width: 14em;
    z-index: 0;
    border-radius: 15px;
}
.heart{
    text-align: right;
    margin-bottom: -1.5em;
    margin-right: -0.6em;
    z-index: 1;
    position: sticky;
}