.search-list-container{
    padding: 1em;
}
.list {
    display: flex;
    align-items: center;
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-color: lightgray;
}
.list-img{
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    margin-right: 1em;
    height: 6em;
    width: 6em;
}
.list-name{
    font-size: large;
    font-weight: bold;
    margin-bottom: -0.5em;
}
.list-sub {
    font-size: small;
    font-weight: bold;
    color: grey;
}
.list:hover{
    text-decoration: underline;
    cursor: pointer;
}