.add-new{
    background-color: lightgray;
    height: 20vh;
    width: 10vw;
    padding: 1em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 1em;
}
.add-new-title{
    width: 100%;
    display: flex;
    justify-content: center;
}
.add-new-title-text{
    font-size: x-large;
    color: #808080;
    font-weight: bold;
}
.confirm-btn {
    background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
    margin-left: 2em;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.confirm-btn:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.confirm-btn:focus {
    outline: none;
}
.btn-wrap{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}